<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Movie Recommendation System</title>

    <!-- Bootstrap core CSS -->
    <link href = "{{ url_for('static',    filename='css/bootstrap.css') }}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href = "{{ url_for('static',    filename='css/main.css') }}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('about') }}">About Us</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('home') }}">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<!-- +++++ Information Section +++++ -->

	<div class="container pt">
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="{{ url_for('static',    filename='img/SSA.png') }}" alt="Soumya S. Acharya">
        <br>
        <h3>Soumya S. Acharya</h3>

        <div class="col-lg-6">
          <a class="zoom" href="https://www.linkedin.com/in/soumya-s-acharya-b57329192/"><img src="{{ url_for('static',    filename='img/linkedin4.png') }}" alt="LinkedIn" /></a>
        </div>
        <div class="col-lg-6">
          <a class="zoom" href="https://github.com/TheOneSSA"><img src="{{ url_for('static',    filename='img/github4.png') }}" alt="GitHub" /></a>
        </div>
			</div>

			<div class="col-lg-4">
				<img src="{{ url_for('static',    filename='img/NN.png') }}" alt="Nandita Nupur">
        <br>
        <h3>Nandita Nupur</h3>

        <div class="col-lg-12">
          <a class="zoom" href="https://www.linkedin.com/in/nandita-nupur-82223820a/"><img src="{{ url_for('static',    filename='img/linkedin4.png') }}" alt="LinkedIn" /></a>
        </div>
			</div>

			<div class="col-lg-4">
				<img src="{{ url_for('static',    filename='img/PS.png') }}" alt="Priyabrat Sahoo">
        <br>
        <h3>Priyabrat Sahoo</h3>

        <div class="col-lg-12">
          <a class="zoom" href="https://www.linkedin.com/in/priyabrat-sahoo-b519861a1/"><img src="{{ url_for('static',    filename='img/linkedin4.png') }}" alt="LinkedIn" /></a>
        </div>
			</div>
		</div><!-- /row -->
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static',  filename = 'js/bootstrap.min.js') }}""></script>
  </body>
</html>
