<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Movie Recommendation System</title>

    <!-- Bootstrap core CSS -->
    <link href = "{{ url_for('static',    filename='css/bootstrap_new.css') }}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href = "{{ url_for('static',    filename='css/main.css') }}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static',  filename = 'js/hover.zoom.js') }}"></script>
    <script src="{{ url_for('static',  filename = 'js/hover.zoom.conf.js') }}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('home') }}">Movie Recommender</a>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('about') }}">About Us</a></li>
          </ul>
      </div>
    </div>

    <div id="ww_emotions">
  	    <div class="container">
  				<div class="col-lg-16 col-lg-offset-2 centered">
  					<img src="{{ url_for('static',    filename='img/user1.png') }}" alt="Recommender">
  					<h2>Please choose the genre you would prefer</h2>
  				</div><!-- /col-lg-8 -->
  	    </div> <!-- /container -->
  	</div><!-- /ww -->

	<!-- +++++ Projects Section +++++ -->

	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-3">
        <button type="button" href="{{ url_for('gen_comedy') }}" class="btn btn-outline-dark btn-lg">Comedy</button>
      </div>
      <div class="col-lg-3">
        <button type="button" href="{{ url_for('gen_romantic') }}" class="btn btn-outline-dark btn-lg">Romantic</button>
      </div>
      <div class="col-lg-3">
        <button type="button" href="{{ url_for('gen_animation') }}" class="btn btn-outline-dark btn-lg">Animation</button>
      </div>
      <div class="col-lg-3">
        <button type="button" href="{{ url_for('gen_musical') }}" class="btn btn-outline-dark btn-lg">Musical</button>
      </div>
		</div><!-- /row -->
	</div><!-- /container -->


	<!-- +++++ Footer Section +++++ -->

  <div id="footer">
		<div class="container centered">
        <h2>When I get angry, my processing speed reduces.</h2>
        <p>-Recommender</p>
		</div>
	</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
